section#faq {
	margin-inline: auto;
	max-width: 63rem;
	display: flex;
	flex-direction: column;
}

section#faq .heading {
	font-family: var(--ff3);
	font-size: clamp(4rem, 10vw, 6rem);
	padding-block: 6rem 2rem;
}

.faq-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.faq-list dt {
	font-size: 1rem;
	color: #d8592a;
	font-family: var(--ffoption);
	font-weight: bold;
	letter-spacing: 0.1rem;
	cursor: pointer;
}

.faq-list dt::before {
	content: '';
	display: inline-block;
	width: 2rem;
	height: 0.7rem;
	background-color: #f0bc4d;
	margin-right: 0.5rem;
	transition: 0.2s;
}

.faq-list dt::after {
	content: '+';
	padding-left: 1rem;
}

.faq-list dt:hover::before {
	width: 2.5rem;
}

.faq-list dd {
	font-size: 1rem;
	font-family: var(--ffoption);
}

/* DOM Manipulation - Accordion.js */

[data-accordion] dt.ativo::before {
	width: 2.5rem;
}

[data-accordion] dd {
	max-height: 0;
	visibility: hidden;
	overflow: hidden;
	transition: 0.4s;
}

[data-accordion] dd.ativo {
	max-height: 10rem;
	visibility: visible;
}
