nav {
	font-family: var(--ffrale);
	position: fixed;
	z-index: 100;
	display: flex;
	width: 100%;
	max-height: var(--nav-h-large);
	background: var(--cl-strong);
	transition: 0.8s;
	font-weight: bold;
}

.navbar {
	display: flex;
	justify-items: flex-start;
	align-items: center;
	gap: 1rem;
}

.nav-link {
	font-size: inherit;
	text-transform: uppercase;
	color: #000000;
	padding: 1rem 1rem;
}

.nav-link[data-modal-opener] {
	background-color: #edd7a6;
	border-radius: 10px;
	padding: 0.5rem 1rem;
	border: none;
	cursor: pointer;
}

/* DOM - {navbar-small.js} */

nav.nav-small {
	max-height: var(--nav-h-small);
}

.nav-small [data-modal-opener] {
	background-color: transparent;
	transition: background-color 0.8s;
}
